<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="shortcut icon" href="/assets/img/icon.webp">
    <script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    {% include navigation.html %}

              {{ content }}

  </body>
</html>
