---
layout: default
---

<div class="flexbox-h-container">
  <div class="flexbox-v-centered w78c">
    <div>
      <h1>{{ page.title }}</h1>
      <h3>{{ page.date | date: "%-d %B %Y"}}</h3>
    </div>
    {{ content }}
    <div class="giscuss">
      <script src="https://giscus.app/client.js"
        data-repo="Le09/le09.github.io"
        data-repo-id="566863730"
        data-category="Announcements"
        data-category-id="DIC_kwDOIcmncs4CWZVT"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
    </script>
    </div>
  </div>
</div>
